{% extends 'base.html' %}



{% block content %}
<div class="container mt-3">
   <h4>Student details </h4>
    <a href="{% url 'add' %}" class="btn btn-sm btn-info">ADD NEW</a>
   <hr>
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>NAME</th>
<th>CONTACT</th>
<th>ACTION</th>
</tr>
   </thead>
<tbody>
{% for s in student %}
<tr>
<td>{{s.sid}}</td>
<td>{{s.sname}}</td>
<td>{{s.scontact}}</td>


<td>

<a href="update/{{s.id}}" class="btn btn-sm btn-info">UPDATE</a>
<a href="delete/{{s.id}}" class="btn btn-sm btn-danger">DELETE</a>
</td>
{% endfor %}
</tbody>
</table>
</div>
    {% endblock content %}